* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --border-radius: 5px;
  --border-width: 2px;
  --border-color: #191b29;
  --font-color: #d3d4d6;
  --answer-color: #696262;
  --font-family-1: "Playfair Display", serif;
  --font-family-2: "Lato", sans-serif;
}
body {
  line-height: 1.3;
  font-size: 1 rem;
  color: var(--font-color);
}
.body-style {
  display: grid;
  background-image: url(/images/restaurant.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
nav img {
  width: 45px;
  height: auto;
  margin-left: 20px;
}
li {
  margin: 10px;
  color: var(--font-color);
  font-family: var(--font-family-1);
  font-size: 1.1rem;
}

.main-style {
  background-color: rgba(0, 0, 0, 0.75);
}
.surv-form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  margin: 20px;
  font-size: 2rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #e4b61a;
}
h1 {
  margin: 0px;
  padding: 0px;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.survey {
  display: flex;
  flex-direction: column;
}
.question {
  margin: 20px 10px 10px 0px;
  font-family: var(--font-family-1);
  font-size: 1.35rem;
}
input::placeholder {
  color: var(--answer-color);
  font-family: var(--font-family-2);
  width: 100%;
}
select{
  color: var(--answer-color);
}
.answer {
  border-style: solid;
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color);
}
.answer-size {
  width: 100%;
  height: 45px;
  padding: 7px;
  font-size: 16px;
}
.check-radio {
  display: flex;
  flex-direction: column;
}
.serv-categ {
  padding: 0px;
  margin-right: 10px;
}
.serv-categ-font {
  font-family: var(--font-family-1);
  font-size: 1.1rem;
}
.opinion {
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color);
  font-size: 1rem;
  padding: 7px;
}
textarea::placeholder{
  color: var(--answer-color);
  font-family: var(--font-family-2);
}
.submit {
  text-align: center;
  margin: 20px;
}
button {
  background-color:#c39e23;
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: #e4b61a;
  transition: all 0.7s ease 0s;
}
button:hover{
  background-color: #2EE59D;
  border-color: #2EE59D;
  box-shadow: 0px 10px 15px var(--primary-dark-green);
  transform: translateY(-6px);
}
.word-submit {
  width: 150px;
  height: 40px;
  font-family: var(--font-lato);
  font-size: 1.25rem;
  font-weight: 600;
  color: #2c3258;
}
footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer img {
  width: 45px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.my-name {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--font-color);
  margin: 10px 0px;
}
@media (max-width: 600px) {
  .body-style {
    background-size: cover;
  }
  header {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  form {
    width: 80%;
  }
  .question{
    font-size:1.05rem;
  }
}
